@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a{
  text-decoration: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191970;
  color: #B5FE83;
  max-width: 1700px;
  margin: 0 auto;
}

a {
  color: #FEFF86;
}
