.homeCard {
    height : 50px;
    padding-bottom: 60px;

    .record {
        color: #B5FE83;
        font-size: 2rem;
    }

    .bullet {
        color: #85F4FF;
        font-size: 2rem;
    }

    .keyword {
        color: #FD8A8A;
        font-size: 2rem;
    }
}


